html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  position: relative;
  background-color: #364145ff;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, #364145));
  background: linear-gradient(0deg, black 0%, #364145 50%);
}

/* .container {
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
}*/
.name {
  font-weight: 700;
  font-size: 9rem;
  color: #c1c9cc;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(242, 116, 5, 0.5);
  position: relative;
  line-height: 7rem;
  width: 5rem;
}

.title {
  font-weight: 200;
  margin-left: 2rem;
  font-size: 5rem;
}

.titlepg2 {
  font-weight: 200;
  font-size: 5rem;
  margin-top: 5rem;
  margin: auto;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
}

.textpg1 {
  width: auto;
  z-index: 2;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.circle {
  margin-top: 5rem;
  height: 85vh;
  width: 85vh;
  max-height: 69rem;
  max-width: 69rem;
  min-height: 60rem;
  min-width: 60rem;
  background-color: #56696dff;
  opacity: .8;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

section {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/edited_treefog_blk.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page2 {
  background-image: url(/images/edited_treefog_blk.png);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.page3 {
  background-image: url(/images/blk_stars.jpg);
}

.titlepg3 {
  font-weight: 200;
  font-size: 5rem;
  margin-top: 2rem;
  position: absolute;
}

.cContainer {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.circle3 {
  border-width: .1rem;
  border-color: #f27405ff;
  border-style: solid;
  margin-top: 8rem;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  background-image: url(/images/crescent.svg);
  background-blend-mode: color-dodge;
  background-size: cover;
}

.stars {
  opacity: 1;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 5rem;
}

#star2 {
  margin-bottom: -2rem;
}

.logo {
  margin-left: 2rem;
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */